[Desktop Entry]
Type=Application
Name=9Launcher
Comment=Universal Launcher for Touhou Games written in QT
Exec=9Launcher.sh
Icon=9Launcher
Categories=Utility;
