/* 
    someone please write a better implementation for this, I hate media queries :(
*/
@media (min-width: 1154px) {
    .arrow-down-info {
      left: calc(96.5% + 5px);
    }
  }
  @media (min-width: 1278px) {
    .arrow-down-info {
      left: calc(96.5% + 10px);
    }
  }
  @media (min-width: 1402px) {
    .arrow-down-info {
      left: calc(96.5% + 15px);
    }
  }
  @media (min-width: 1526px) {
    .arrow-down-info {
      left: calc(96.5% + 20px);
    }
  }
  @media (min-width: 1650px) {
    .arrow-down-info {
      left: calc(96.5% + 25px);
    }
  }
  @media (min-width: 1774px) {
    .arrow-down-info {
      left: calc(96.5% + 30px);
    }
  }
  @media (min-width: 1898px) {
    .arrow-down-info {
      left: calc(96.5% + 35px);
    }
  }
  @media (min-width: 2022px) {
    .arrow-down-info {
      left: calc(96.5% + 40px);
    }
  }
  @media (min-width: 2146px) {
    .arrow-down-info {
      left: calc(96.5% + 45px);
    }
  }
  @media (min-width: 2270px) {
    .arrow-down-info {
      left: calc(96.5% + 50px);
    }
  }
  @media (min-width: 2394px) {
    .arrow-down-info {
      left: calc(96.5% + 55px);
    }
  }
  @media (min-width: 2518px) {
    .arrow-down-info {
      left: calc(96.5% + 60px);
    }
  }
  @media (min-width: 2642px) {
    .arrow-down-info {
      left: calc(96.5% + 65px);
    }
  }
  @media (min-width: 2766px) {
    .arrow-down-info {
      left: calc(96.5% + 70px);
    }
  }
  @media (min-width: 2890px) {
    .arrow-down-info {
      left: calc(96.5% + 75px);
    }
  }
  @media (min-width: 3014px) {
    .arrow-down-info {
      left: calc(96.5% + 80px);
    }
  }