*,
*::before,
*::after {
  box-sizing: border-box;
}
#modern-era, .installed-games {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  font-size: 15px;
  width: 97%;
  margin: 0 auto;
}
.games-spinoffs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  margin-left: 1.5%;
  font-size: 15px;
  gap: 0.5rem;
  width: 250px;
}
@media (min-width: 1200px) {
  #modern-era, .installed-games {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1350px) {
  #modern-era, .installed-games {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media (min-width: 1500px) {
  #modern-era, .installed-games {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (min-width: 1650px) {
  #modern-era, .installed-games {
    grid-template-columns: repeat(9, 1fr);
  }
}
#modern-era > div, .installed-games > div, .games-spinoffs > div {
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  line-height: 16px;
  width: 180px;
  height: 66px;
  cursor: pointer;
}
.game-card {
  background-size: cover !important;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-card__title {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.582);
}
