@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  --bottom-banner-color: #222222;
  --bottom-banner-text-color: #dddddd;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.gs-title, .gs-subtext {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
  width: 75%;
  transition: 250ms ease-in-out;
}

.gs-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.setup-title {
  text-align: center;
}

.setup-subtitle {
  text-align: center;
}

button:hover {
  border-color: #396cd8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

.bottom-banner {
  width: 100%;
  height: 40px;
  background-color: var(--bottom-banner-color);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
}
.settings-icn {
  height: 24px;
  width: 24px;
}
#settings-gear {
  position: relative;
  margin-left: 15px;
  transition: 500ms ease-in-out;
}
#settings-gear:hover {
  cursor: pointer;
  rotate: 180deg;
}
.info-icn {
  margin-right: 20px;
  transition: 500ms ease-in-out;
}
.info-page {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.info-page > .info-header {
  line-height: 15px;
}
.info-page > .computer-info > p {
  line-height: 5px;
}
#info-page:hover {
  cursor: pointer;
}
.copy-info {
  width: 40%;
}
.arrow-down-qs {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  position: fixed;
  margin-top: 31%;
  left: 15px;
  background-color: var(--bottom-banner-color);
  z-index: 1;
}
.arrow-down-info {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  position: fixed;
  margin-top: 31.5vh;
  left: 97%;
  background-color: var(--bottom-banner-color);
  z-index: 1;
  top: 61%;
}
.quick-settings-modal {
  background-color: var(--bottom-banner-color);
  width: 30%;
  position: fixed;
  top: 54%;
  left: 5px;
  height: 40%;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  z-index: 2;
  border-radius: 5px;
  pointer-events: none;
}
.information-page {
  background-color: var(--bottom-banner-color);
  width: 40%;
  position: fixed;
  top: 57%;
  left: 59.5%;
  height: 37%;
  margin: 0;
  padding: 0;
  transition: opacity 250ms ease-in-out;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
}
.modal-active {
  opacity: 1;
  pointer-events: all;
}
@media (min-height: 900px) {
  .quick-settings-modal {
    top: 74%;
  }
  .information-page {
    top: 64%;
  }
}

.slider-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
  margin-left: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider[data-temp-disabled="enabled"] {
  cursor: not-allowed;
  filter: brightness(0.75);
}


.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}



input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.next-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.next-arrow {
  position: relative;
}
.clear-games, .wine-manager, .dosbox-manager {
  position: relative;
  width: 90%;
  margin-top: 10px;
  margin-left: 15px;
}
.links {
  margin-top: 10px;
  display: flex;
  position: relative;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}
.links > .link-container {
  margin-top: 50px;
}
.links > .link-container > a {
  font-size: 32px;
  color: white;
}
.links > .touhou-character > div > img {
  margin-top: 15px;
  width: 64px;
  height: 80px;
  cursor: pointer;
}

@media (min-height: 800px) {
  .links > .link-container {
    margin-top: 0;
  }
  .links > .touhou-character > div > img {
    margin-top: -40px;
  }
}

#inconspicous-character {
  opacity: 1;
  transition: 250ms ease-in-out;
}

@media (min-height: 850px) {
  .links > .link-container {
    margin-top: 10px;
  }
  .links > .touhou-character > div > img {
    margin-top: -20px;
  }
}

@media (min-height: 1000px) {
  .links > .link-container {
    margin-top: 60px;
  }
  .links > .touhou-character > div > img {
    margin-top: 20px;
  }
}

.modal-title {
  text-align: center;
}
.tingle-modal {
  background-color: #0f0f0fcc;
}
.tingle-modal-box {
  background-color: #0f0f0fcc;
}
.tingle-modal-box__content {
  background-color: #0f0f0fcc;
  padding-bottom: 0;
}
.tingle-modal-box__footer {
  background-color: #0f0f0fcc !important;
}
.tingle-btn {
  width: 100%;
}
.tingle-btn--danger {
  margin-top: 10px;
}
.progress-bar {
  width: 100%;
  height: 20px;
  border: 1px solid rgb(74, 247, 88);
  border-radius: 10px;
}
#progress-bar-progress, #dosbox-progress-bar-progress {
  width: 0%;
  color: black;
  background-color: rgb(74, 247, 88);
  height: 100%;
  border-radius: 9px;
  display: flex;
  justify-content: end;
  align-items: center;
  overflow: hidden;
}
#progress-bar-progress {
  transition: width 250ms ease-in-out;
}
#dosbox-progress-bar-progress {
  transition: width 150ms ease-in-out;
}
#progress-bar-text, #dosbox-progress-bar-text {
  position: relative;
  right: 5px;
  font-size: 18px;
  font-weight: bold;
}
.wine {
  background-color: #0f0f0f;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
  transition: 250ms ease-in-out;
  text-align: center;
}
.wine:hover {
  background-color: #1a1a1a;
}
.game-image-container {
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  line-height: 12px;
  width: 120px;
  height: 44px;
  cursor: pointer;
  overflow: hidden;
}
.game-image {
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
  background-size: cover !important;
  background-position: center;
}
#game-title {
  text-align: center;
}

.delete-game {
  width: 68%; /* we love magic numbers */
}
#console {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
}

#console-output {
  height: 275px;
  width: 100%;
  background-color: #202020;
  border-radius: 15px;
  padding-inline: 10px;
  font-family: monospace;
}

.log-info {
  color: #63d3ff;
}
.log-warn {
  color: #ff9f00;
}
.log-error {
  color: #ff3d3d;
}
.log-success {
  color: #00ff00;
}